<% provide(:title, 'Home') %>

<% email = "" %>

<% v = User.where("id = ?", current_user.id).all %>
<% v.each do |u| %>
  <% email = u.email %>
<% end %>


<!DOCTYPE html>
<html>
  <head>
    <title>Connections to CSV | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Connections to CSV</h1>
    <p>
      thanks!  now that you are have authorized ConnectionsToCSV to access your LinkedIn account, it will begin retrieving your mutual connections.  When it's done, it will email them to you at <%= email %>
    </p>
  </body>
</html>